<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Bienvenue chez Voca!</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">


</head>
<body>

<script src="jquery-2.2.0.min.js"></script>
<script src="bootstrap.min.js"></script>


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
           <a class="navbar-brand" href="#"><img id="esflogo" alt="Brand" src="../static/image/voca.png"></a>
            <p class="navbar-text">Voca.fr</p>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Page d'accueil <span class="sr-only">(current)</span></a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right ">
                <form class="navbar-form navbar-left" role="search" action="lookup" method="get">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" name="q">
                    </div>
                    <button type="submit" class="btn btn-default">Go!</button>
                </form>
                <li><a href="contact.html">S'inscrire</a></li>
                <li><a href="contact.html">Se Connecter</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->

</nav>


<div class="tabbable" id="main-bar1"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab"> Test du jour</a></li>
        <li><a href="#tab2" data-toggle="tab">Voca</a></li>
        <li><a href="#tab3" data-toggle="tab">Liste du lexique</a></li>

    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">



            <div id="challenge-page" class="jumbotron">
                <div class="container">


                    <h2>Bienvenue Chez Voca<small> <br/>Ameliorer votre français à partir d'ici</small></h2>
                    <p><a class="btn btn-success btn-lg" href="#" role="button">Clikez ici pour savoir + &gg;</a></p>
                </div>
            </div>



        </div>
        <div class="tab-pane" id="tab2">

            <div id="Voca-page" class="jumbotron">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->


                </div>
            </div>

        </div>


        <div class="tab-pane active" id="tab3">



            <div id="challenge-page" class="jumbotron">
                <div class="container">


                    <h2>Bienvenue Chez Voca<small> <br/>待补充内容, 词汇列表</small></h2>
                    <p><a class="btn btn-success btn-lg" href="#" role="button">Clikez ici pour savoir + &gg;</a></p>
                </div>
            </div>



        </div>


        {% block wordDefinition %}

        {% endblock %}


        {% block wordTest %}
        {% endblock %}
    </div>
</div>






<div class="footer">
    <div class="container">
        <div class="copy-right">
            <p>© Developpé par &nbsp; C.LIN, Y. HAN et E. ZHANG, <a href="presentation.html"> l'Equipe Projet Logiciel Npusi Promo 2017</a></p>
        </div>
    </div>

</div>

</body>
</html>