{% extends 'base.html' %}

{% block test %}
    <h4 id="topic">{{ test['topic'] }}</h4>
    <form name="test">
    {% if not test['isImageExo'] %}
        {% for choice in test['choices'] %}
        <input type="radio" name="choice" value={{ loop.index }}><span>{{ choice }}</span><br/>
        {% endfor %}
    {% endif %}
    {% if test['isImageExo'] %}
        {% for choice in test['choices'] %}
        <input type="radio" name="choice" value={{ loop.index }}><img alt={{ choice }} src={{ choice }}> <br/>
        {% endfor %}
    {% endif %}
        <button type="button" id="cfm" class="btn btn-default">Confirmer</button>
        <button type="button" id="next" class="btn btn-default">Next Test</button>
    </form>
    <h5 id="result" style="font-size: 15px; color: #ac2925">Please choose</h5>
    <h5 id="answer" hidden>{{ test['answer'] }}</h5>
    <script>
    $(document).ready(function(){
      $("button#cfm").click(function(){
          var a = $("input[name='choice']:checked").val() - 1;
          var answer = $("h5#answer").text();
          if (a == answer)
          {
              $("h5#result").text("Bravo!");
          }
          else {$("h5#result").text("Tant pis!");}
      });
        $("button#next").click(function()
        {
        $.getJSON("/getRandomTest", function(data)
        {
            $("#topic").text(data.topic);
            $("#result").text("Please choose");

            var image = data.image;
            if (image)
            {
                var block = $("[value=1]");
                block.next().remove();
                block.after("<img src=" + data.choices[0] + "\">");
                var block2 = $("[value=2]");
                block2.next().remove();
                block2.after("<img src=" + data.choices[1] + "\">");
                var block3 = $("[value=3]");
                block3.next().remove();
                block3.after("<img src=" + data.choices[2] + "\">");
                var block4 = $("[value=4]");
                block4.next().remove();
                block4.after("<img src=" + data.choices[3] + "\">");
            }
            else
            {
                var block = $("[value=1]");
                block.next().remove();
                block.after("<span>" + data.choices[0] + "</span>");
                var block2 = $("[value=2]");
                block2.next().remove();
                block2.after("<span>" + data.choices[1] + "</span>");
                var block3 = $("[value=3]");
                block3.next().remove();
                block3.after("<span>" + data.choices[2] + "</span>");
                var block4 = $("[value=4]");
                block4.next().remove();
                block4.after("<span>" + data.choices[3] + "</span>");
            }
            $("#answer").text(data.answer);
        });
        })
    });
    </script>
{% endblock %}





{% block article %}
    <h3 align="center">{{ article['title'] }}</h3>
    <p style="font-size: 15px; font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif" id="article">{{ article['content'] }}</p>
    <button type="button" id="analyse" class="btn btn-default">Analyse</button>
    <script>
    $(document).ready(function()
    {
        $("button#analyse").click(function()
        {
        })
    })

    </script>


{% endblock %}