<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Bienvenue chez ESF Conseil !</title>
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">


</head>
<body>

<script src="jquery-2.2.0.min.js"></script>
<script src="bootstrap.min.js"></script>


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img id="esflogo" alt="Brand" src="ef.png"></a>
            <p class="navbar-text">ESF Conseil</p>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Home <span class="sr-only">(current)</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nos Services <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Hors-DAP - 直入专业</a></li>
                        <li><a href="#">FLE - 语言学校</a></li>
                        <li><a href="#">Formation préparatoire - 预科</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">N+i - 工程师</a></li>
                        <li><a href="#">IMT - 工程师</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Arts - 艺术</a></li>
                        <li><a href="#">Economie et Gestion - 经济与管理 </a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">境外服务</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Nos Expériences <span class="caret"></span></a>
                    <ul class="dropdown-menu" >
                        <li><a href="#" role="menuitem">Nos Atouts</a></li>
                        <li><a href="#" role="menuitem">Nos Clients</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" role="menuitem">Nos Conseils</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="contact.html">Nous Contacter</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div id="presentation-equipe" class="jumbotron">
    <div class="container">
        <!-- Stack the columns on mobile by making one full-width and the other half-width -->



        <div class="row presentation presentation-left">
            <div class="col-xs-7 col-md-3">
                <img src="imgpresent2.png" alt="Picture of Quatro" class="img-circle media-object">
            </div>


            <div class="col-xs-12 col-md-7">
                <div class="media-body">
                    <h4 class="media-heading">Quatro - Centrale-Supélec</h4>
                    Supélec vise à former des ingénieurs de haut niveau scientifique et technique prêts à assumer les responsabilités les plus diversifiées dans l’entreprise.

                    Cette formation s’appuie sur trois volets : la connaissance de l’entreprise, une large culture scientifique et technique, les connaissances et le savoir-faire approfondis dans un des domaines d’expertise de l’École.</h4>
                </div>
            </div>
        </div>


        <div class="row presentation presentation-left">

            <div class="col-xs-7 col-md-3">
                <img src="imgpresent2.png" alt="Picture of Quatro" class="img-circle media-object" >
            </div>

            <div class="col-xs-12 col-md-7">
                <div class="media-body">
                    <h4 class="media-heading">Xavier - Arts et métiers ParisTech</h4>
                    Arts et métiers ParisTech, anciennement École nationale supérieure d'arts et métiers (ENSAM),
                    est l'une des 210 écoles d'ingénieurs françaises habilitées à délivrer un diplôme d'ingénieur. Elle est historiquement reconnue pour sa formation et son diplôme d'ingénieur généraliste.
                </div>
            </div>

        </div>


        <div class="row presentation presentation-left">
            <div class="col-xs-7 col-md-3">
                <img src="imgpresent2.png" alt="Picture of Quatro" class="img-circle media-object">
            </div>


            <div class="col-xs-12 col-md-7">
                <div class="media-body">
                    <h4 class="media-heading">Evelyne - L'université normale de la Chine de l'Est</h4>
                    L'université normale de la Chine de l'Est, dont le nom officiel en français est devenu l'École normale supérieure de l'Est de la Chine en 2013, est une université nationale chinoise située à Shanghai. Fondée en 1951, elle fut la première école normale supérieure de la République populaire de Chine.
                </div>
            </div>
        </div>
        </div>
    </div>


<div class="footer">
    <div class="container">
        <div class="copy-right">
            <p>© ESF Conseil &nbsp;By Istik LIN, <a href="presentation.html"> l'Equipe ESF Conseil</a></p>
        </div>
    </div>
</div>

</body>
</html>