{% extends "index.html" %}

{% block wordDefinition %}
    <h1> Word Definition </h1>
    <h2> Etymogie </h2>
    <h3>{{ word['etymonogie'] }}</h3>
    {% for nature in word['natures'] %}
        <h4>{{ nature['categorie'] }}</h4>
        {% for definition in nature['definitions'] %}
            <ul>
                <li>{{ definition['definition'] }}</li>
                {% for example in definition['exemples'] %}
                    <ul>
                        <li>{{ example }}</li>
                    </ul>
                {% endfor %}
            </ul>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block wordTest %}
    <h1>{{ test['topic'] }}</h1>
    {% for choice in test['choices'] %}
        <ul>
            <li>{{ choice }}</li>
        </ul>
    {% endfor %}
    <h5>{{ test['answer'] }}</h5>

{% endblock %}