{% extends "base.html" %}

{% block definition %}
    <h2> Etymogie </h2>
    <h3>{{ word['etymonogie'] }}</h3>
    <br>
    {% for nature in word['natures'] %}
        <h4>{{ nature['categorie'] }}</h4>
        {% for definition in nature['definitions'] %}
            <ol style="list-style-type: decimal">
                <li>{{ definition['definition'] }}</li>
                {% for example in definition['exemples'] %}
                    <ol style="list-style-type: decimal">
                        <li>{{ example }}</li>
                    </ol>
                {% endfor %}
            </ol>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block test %}
    <h4 align="centre">{{ test['topic'] }}</h4>
    <form>
    {% if not test['isImageExo'] %}
        {% for choice in test['choices'] %}
        <input type="radio"/>{{ choice  }} <br/>
        {% endfor %}
    {% endif %}
    {% if test['isImageExo'] %}
        {% for choice in test['choices'] %}
        <input type="radio"/><img src={{ choice }}> <br/>
        {% endfor %}
    {% endif %}
    </form>
    <h5 hidden>{{ test['answer'] }}</h5>
{% endblock %}